/* Button Component css */

.ui_btn:hover {
  box-shadow: rgb(215 226 241) 0px 5px 16px;
}

.ui_btn_text_link {
  background-color: transparent;
  border-width: 0px;
  font-weight: 400;
  --tw-shadow: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-text-opacity: 1;
  color: rgba(102, 153, 204, var(--tw-text-opacity));
}

.ui_btn_underline_text_link {
  background-color: transparent;
  border-width: 0px;
  font-weight: 400;
  --tw-shadow: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-text-opacity: 1;
  color: rgba(102, 153, 204, var(--tw-text-opacity));
  text-decoration: underline;
}

.ui_btn_text_link:hover {
  box-shadow: none;
}

.ui_btn_underline_text_link:hover {
  box-shadow: none;
}

.ui_btn_svg svg {
  height: 1rem;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
