/* Button Component css */

.ui_btn:hover {
  box-shadow: rgb(215 226 241) 0px 5px 16px;
}

.ui_btn_text_link {
  background-color: transparent;
  border-width: 0px;
  font-weight: 400;
  --tw-shadow: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-text-opacity: 1;
  color: rgba(102, 153, 204, var(--tw-text-opacity));
}

.ui_btn_underline_text_link {
  background-color: transparent;
  border-width: 0px;
  font-weight: 400;
  --tw-shadow: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-text-opacity: 1;
  color: rgba(102, 153, 204, var(--tw-text-opacity));
  text-decoration: underline;
}

.ui_btn_text_link:hover {
  box-shadow: none;
}

.ui_btn_underline_text_link:hover {
  box-shadow: none;
}

.ui_btn_svg svg {
  height: 16px;
  margin-left: 12px;
  margin-right: 12px;
}

.ui_btn_pb {
  --tw-bg-opacity: 1;
  background-color: rgba(102, 153, 204, var(--tw-bg-opacity));
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.ui_btn_pb:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(92, 138, 185, var(--tw-bg-opacity));
}

.ui_btn_pob {
  background-color: transparent;
  --tw-border-opacity: 1;
  border-color: rgba(102, 153, 204, var(--tw-border-opacity));
  border-width: 1px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgba(102, 153, 204, var(--tw-text-opacity));
}

.ui_btn_pob:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(241, 245, 250, var(--tw-bg-opacity));
}

.ui_btn_sob {
  background-color: transparent;
  --tw-border-opacity: 1;
  border-color: rgba(129, 129, 129, var(--tw-border-opacity));
  border-width: 1px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgba(33, 33, 33, var(--tw-text-opacity));
}

.ui_btn_suc-b {
  --tw-bg-opacity: 1;
  background-color: rgba(43, 192, 73, var(--tw-bg-opacity));
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.ui_btn_suc-b:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(62, 149, 80, var(--tw-bg-opacity));
}

.ui_btn_suc-ob {
  background-color: transparent;
  --tw-border-opacity: 1;
  border-color: rgba(43, 192, 73, var(--tw-border-opacity));
  border-width: 1px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgba(43, 192, 73, var(--tw-text-opacity));
}

.ui_btn_suc-ob:hover {
  --tw-text-opacity: 1;
  color: rgba(62, 149, 80, var(--tw-text-opacity));
}

.ui_btn_wb {
  --tw-bg-opacity: 1;
  background-color: rgba(253, 231, 76, var(--tw-bg-opacity));
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.ui_btn_wb:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(221, 202, 67, var(--tw-bg-opacity));
}

.ui_btn_wob {
  background-color: transparent;
  --tw-border-opacity: 1;
  border-color: rgba(253, 231, 76, var(--tw-border-opacity));
  border-width: 1px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgba(253, 231, 76, var(--tw-text-opacity));
}

.ui_btn_wob:hover {
  --tw-text-opacity: 1;
  color: rgba(221, 202, 67, var(--tw-text-opacity));
}

.ui_btn_db {
  --tw-bg-opacity: 1;
  background-color: rgba(253, 116, 108, var(--tw-bg-opacity));
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.ui_btn_db:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(213, 98, 91, var(--tw-bg-opacity));
}

.ui_btn_dob {
  background-color: transparent;
  --tw-border-opacity: 1;
  border-color: rgba(253, 116, 108, var(--tw-border-opacity));
  border-width: 1px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgba(253, 116, 108, var(--tw-text-opacity));
}

.ui_btn_dob:hover {
  --tw-text-opacity: 1;
  color: rgba(213, 98, 91, var(--tw-text-opacity));
}

.ui_btn_disabled {
  --tw-bg-opacity: 1;
  background-color: rgba(178, 178, 178, var(--tw-bg-opacity));
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.ui_btn_disabled:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(129, 129, 129, var(--tw-bg-opacity));
}

.ui_btn_dab {
  --tw-bg-opacity: 1;
  background-color: rgba(33, 33, 33, var(--tw-bg-opacity));
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.ui_btn_dab:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(33, 33, 33, var(--tw-bg-opacity));
}

.ui_btn_daob {
  background-color: transparent;
  --tw-border-opacity: 1;
  border-color: rgba(33, 33, 33, var(--tw-border-opacity));
  border-width: 1px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgba(33, 33, 33, var(--tw-text-opacity));
}

.ui_btn_hollow {
  border-style: dashed !important;
}

.ui_btn_light {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(33, 33, 33, var(--tw-text-opacity));
}

.ui_btn_link {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(33, 33, 33, var(--tw-text-opacity));
}
